.CpsUpgrade {
  display: flex;
  flex-direction: row;
  margin: 10px;
  height: 50px;
}

.CpsUpgrade-button {
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
}

.CpsUpgrade-info {
  width: 200px;
  text-align: left;
  font-size: 14px;
}
