.Building {
  display: flex;
  flex-direction: row;
  margin: 10px;
  height: 100px;
}

.Building-button {
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
}

.Building-image {
  width: 100px;
}

.Building-stats {
  width: 200px;
  text-align: left;
  font-size: 14px;
}
